.reset{
  display: flex;
  margin-top: 30px;
}
.reset button{
  margin-left: 20px;
}
.reset .incrementfive{
  background-color: greenyellow;
  
}

.reset .zero{
background-color: aqua;
}

.reset .decrementfive{
  background-color: red;
  
}